<app-toolbar
  [title]="title"
  (event)="sidenav.toggle()"
  [hasIcons]="user$ | async"
  class="l-mainManu__toolbar"
></app-toolbar>

<mat-sidenav-container class="l-mainManu__container">
  <mat-sidenav
    #sidenav
    mode="side"
    [position]="'end'"
    class="l-mainManu__sidenav"
  >
    <mat-nav-list *ngFor="let route of routes">
      <mat-list-item role="listitem" (click)="redirect(route.url)">
        {{ route.name }}</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-toolbar
  [title]="footer"
  [hasIcons]="false"
  class="l-mainManu__footer"
></app-toolbar>
